/* assets/footerDesign.css */

html, body {
    font-family: 'Courier New', monospace;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.footer {
    background-color: #111111;
    color: #eeeeee;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #eeeeee;
    text-decoration: none;
    margin-right: 10px;
}

.footer a:hover {
    color: #eeeeee;
}

.footer-content {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 720px) {
    .footer {
        width: 90%;
    }

    .footer-content {
        flex-direction: column;
        margin-bottom: 10px;
        max-width: 90%;
    }

    .footer a {
        margin: 5px;
    }
}
