/* assets/headerDesign.css */

body {
    margin: 0;
    font-family: 'Courier New', monospace;
}

.headerDesign {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111111;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px; /* Optional: for some padding inside the header */
}

.headerDesign-left {
    display: flex;
    flex: 1;
}

.headerDesign-right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.headerDesign a {
    text-decoration: none;
    color: #eeeeee;
    border-radius: 4px;
    margin-right: 10px; /* Adjust as needed */
}

.headerDesign a:hover {
    background: #111111;
    color: #eeeeee;
    text-decoration: none;
}

@media (max-width: 720px) {
    .headerDesign {
        flex-direction: column;
        margin-bottom: 10px;
        width: 90%;
        max-width: 90%;
    }
}
