<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Ccircle cx='50' cy='50' r='50' fill='yellow'/%3E%3C/svg%3E" type="image/svg+xml">
</head>

<body>
  {% include google-analytics.html %}

  {% include header.html %}

  <main>
    <div class="container">
      <p style="font-family: 'Courier New', monospace; font-size: 16px; line-height: 1.6; color: #c1c1c1; margin-bottom: 40px;">
        Software developer based in Munich, focused on craft and building things that help people. Specialized in native iOS and, more recently, Flutter.
      </p>
      
      {% for post in site.posts %}
      <div class="post-title">
        <a href="{{ post.url | relative_url }}"
          style="display: flex; align-items: center; text-decoration: none; color: inherit;">
          <span class="post-date">{{ post.date | date: "%Y, %B %d" }}</span>
          <span class="post-title-text">{{ post.title }}</span>
        </a>
      </div>
      {% endfor %}
    </div>
  </main>

  {% include footer.html %}

</body>

</html>